.wrapper {
    margin: 10px;
    display: flex;
}

.container {
    display: grid;
    width: 100%;
    height: 90vh;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 12% 1fr 15%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;
    font-weight: bold;
    font-style: normal;
}

.header {
    background-color: rgb(209, 217, 243);
    grid-column: 1/3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section {
    background-color: rgb(186, 241, 241);
    grid-column: 1/2;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50% 1fr 1fr;
    
}

.mainpart {
    grid-area: 1/1/2/3;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.more1 {
    display: flex;
    background-color: rgb(237, 181, 181);
    grid-area: 2/1/3/2;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.more2 {
    display: flex;
    background-color: rgb(237, 181, 181);
    grid-area: 2/2/3/3;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.more3 {
    display: flex;
    background-color: rgb(237, 181, 181);
    grid-area: 3/1/4/3;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.aside {
    background-color: bisque;
    grid-row: 2/3;
    grid-column: 2/3;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.footer {
    background-color: rgb(209, 217, 243);
    grid-column: 1/3;
    display: grid;
    grid-template-columns: repeat(4, 22%);
    grid-template-rows: 80%;
    align-content: space-around;  
    justify-content: space-around; 
    gap: 10px;     
}

.footerclass {
    display: flex;
    background-color: rgb(236, 161, 236);
    align-items: center;
    justify-content: center;
}